[submodule ".vim/pack/dist/start/vim-airline"]
	path = .vim/pack/dist/start/vim-airline
	url = https://github.com/jp-ga/vim-airline
[submodule ".vim/pack/dist/start/vim-fugitive"]
	path = .vim/pack/dist/start/vim-fugitive
	url = https://github.com/jp-ga/vim-fugitive
